# Java lefordított bytecode fájlok
*.class

# Build mappák (Maven / IDE generálja)
bin/
out/
target/

# Eclipse fájlok
.settings/
.metadata/
.classpath
.project

# IntelliJ IDEA fájlok
*.iml
.idea/

# VS Code beállítások
.vscode/

# Vim ideiglenes fájlok
*.swp

# Operációs rendszer által generált fájlok
.DS_Store
Thumbs.db