/Practising_Main.class
/Tombok.class
/AdatbekeresEsSzovegFormazasa.class
/ArrayListHasznalata.class
/Basic_level.class
/AlapokGyakorlasa.class
/AlapokGyakorlasa2.class
/Main.class
/AdatBekeresekSzamEsSzoveg.class
/AlapokGyakorlasa3.class
/Datumhasznalata.class
/Karakterfuggvenyek.class
/Matekfuggvenyek.class
/MatematikaiFuggvenyek.class
