body {
  background-image: url('assets/physics_back.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-weight: 500;
}

#tartalom {
  background-color: rgba(255, 255, 255, 0.9); /* Világosabb a jobb olvashatóságért */
  border-radius: 30px;
  width: 80%; /* A Bootstrap mellett igazítva */
  padding: 30px;
  margin: 20px auto;
}

/* 7. és 15. feladat: Kép formázása */
#teller_kep {
  float: right;
  width: 260px;
  margin-left: 20px;
}

/* 8. feladat: Név kiemelése */
.teller-nev {
  font-weight: 800;
}

.teller-nev:hover {
  color: red;
  cursor: pointer;
}

/* 16. feladat: Táblázat formázása */
td {
  border-bottom: 1px solid gray;
  padding: 10px !important;
  text-align: center;
}

th {
  background-color: gray;
  color: white;
  text-align: center;
  padding: 10px !important;
}

/* 17. feladat: Link formázása */
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: red;
  text-decoration: none;
}

h1 {
  font-style: italic;
  color: #007bff; /* Minta szerinti kék szín */
}

ul {
  list-style-image: url('assets/physics_icon.png');
}